:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-header-color: #000000;
  --logo-footer-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #2f303a;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

address {
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--accent-color);
}

.logo.primary {
  color: var(--logo-header-color);
}

/* Site nav */

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Address nav */

.address-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* Button */

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Section */

.section-text {
  color: var(--secondary-text-color);
}

/* Logo footer */

.logo.secondary {
  color: var(--primary-white-color);
}

/* Contacts list */

.contacts {
  background-color: var(--secondary-background-color);
}

.footer-address .contacts-map {
  color: var(--primary-white-color);
  
}

.footer-address .email,
.footer-address .phone {
  color: var(--logo-footer-color);
}

/* цвет основного текста #212121 */

/* вторичный цвет #757575 */

/* белый #FFFFFF */

/* акцент #2196F3 */

/* имейл и телефон в футере rgba(255, 255, 255, 0.6) */ ;
